.products{
    flex: 4;
    background-color: rgba(211, 211, 211, 0.312);
}
.top-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
}
.create-button{
    background-color: rgb(9, 9, 190);
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
}
.create-button:hover{
  background-color: rgb(7, 7, 169);
}
.products-content{
    background-color: white;
    border: 1px solid rgba(128, 128, 128, 0.27);
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}